<!DOCTYPE html>
<html lang="pt-br">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
		<link rel="stylesheet" type="text/css" href="css/style.css" />	
		<title>Formulário de Inclusão de Estudantes</title>
	</head>
	<body>
		<div class="div1"><h1>Formulário para inclusão de estudantes</h1></div>
		<a href="/">Voltar</a>
		<section>
			<% if(erros) { %>
				<ul>
					<% for(let i = 0; i<erros.length; i++){ %>
						<li>
							<%= erros[i].msg %>
						</li>
					<% } %>
				</ul>
			<% } %>
		</section>
		<form action="/estudante/salvar" method="post">
			<input type="text" name="nome" placeholder="Digite o nome do estudante" value="<%= estudante.nome %>"><br>
			<input type="text" name="cidade" placeholder="Cidade" value="<%= estudante.cidade %>"><br>
			<input type="date" name="data_nasc" placeholder="Data de Nascimento" value="<%= estudante.data_nasc %>"><br>
			<input type="text" name="nota" placeholder="Digite a nota" value="<%= estudante.nota %>"><br>
			<input type="submit" value="Enviar"><br>
		</form>
	</body>
</html>