<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Site da disciplina de desenvolvimento WEB</title>
</head>
<body>
    <div class="div1">
        <h1>Rota estudantes</h1>
    </div>
    <a href="/">Voltar</a>
    <a href="/insereestudante">Cadastrar Estudante</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Nota</th>
            <th>Cidade</th>
            <th>Data de nascimento</th>
        </tr>
        <% for(let i=0; i<estudantes.length; i++){ %>
            <tr>
                <td><%= estudantes[i].idestudante %></td>
                <td><%= estudantes[i].nome %></td>
                <td><%= estudantes[i].nota %></td>
                <td><%= estudantes[i].cidade %></td>
                <td><%= estudantes[i].data_nasc %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>